{% extends "base.html" %}


{% block content1 %}
<title>TRIVIA</title>
{% endblock %}

{% block content2 %}

<!-- This should be success -->
{% set messages = get_flashed_messages() %}
{% for msg in messages %}
    <b>{{ msg }}</b><br>
{% endfor %}

<h1> {{ question }} </h1>

<form action="/quiz/check" method="POST">
    {% for a in answers %}
        <input type="radio" name="answer" value="{{ a[1] }}">{{ a[0] }} <br>
    {% endfor %}
    <input type="submit" name="submit" value="Check Answer">
</form>

{% endblock %}
