{% extends "base.html" %}


{% block content1 %}
<title>TRIVIA</title>
{% endblock %}

{% block content2 %}

<!-- This should be success -->
{% set messages = get_flashed_messages() %}
{% for msg in messages %}
    <b>{{ msg }}</b><br>
{% endfor %}
<center>
<h1> {{ question }} </h1>

<form action="/quiz/check" method="POST">
    {% for a in answers %}
        <input type="radio" name="answer" value="{{ a[1] }}">{{ a[0] }} <br>
    {% endfor %}<br>
    <input type="submit" name="submit" value="Check Answer">
</form>
</center><br>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <center><img src="/static/hi.jpg" style="width:50%;"></center>
      </div>
      {% for url in urls %}
        <div class="item">
          <center><img src="{{ url }}" style="width:50%;"></center>
        </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



{% endblock %}
