{% extends "base.html" %}

{% block content1 %}
<title>Score Report</title>
{% endblock %}

{% block content2 %}
<!-- This is the page you get taken to when the quiz ends -->
<h1> Your Results </h1>
<hr>

{% set messages = get_flashed_messages() %}
{% for msg in messages %}
<p>{{ msg }}</p>
{% endfor %}

<h4>
  Your Score: {{ score }} question streak<br>
  Your High Score (for {{ subject }}): {{ record }} questions
</h4>

{% if score > record %}
That's a new person high score! Congratulations, {{ username }}, you're really an expert in {{ subject }}.
{% else %}

<br />
<!-- Inspirational quote -->
<p style="font-style: italic;">{{ quote }}</p>
{% endif %}
<br />
<p> Time to get even better at {{ subject }}, <a href="/quiz/select"> Take another quiz </a></p>

{% endblock %}
