{% extends "base.html" %}

{% block content1 %}
<title>
  Imajin
</title>
{% endblock %}

{% block content2 %}
<div style="text-align: center;">
  <h1> Welcome to Imajin! </h1>
  <hr>
  <h2> About Us </h2>
  Imajin is a trivia site that allows you to answer various trivia questions, and keeps a running score of your highest streak (in each category as well as mixed). <br />In addition to displaying questions with selectable choices, Imajin will also generate an image relevant to the question to display near it for aesthetic effect.

  <br />

  <h2> Credit </h2>
  <h4> This site is made possible by </h4>
  The OpenTrivia API <br />
  The Getty Images API <br />
  Bootstrap <br />
  <h4> The IMAJ Team </h4>
  Ish Mahdi <br />
  Max Zlotskiy <br />
  Andrew Wong <br />
  Jake Zaia <br />
</div>
{% endblock %}
